<form [formGroup]="registrationForm" method="post">
  <div class="form-group">
    <legend>Fields marked with a * are required</legend>
  </div>

  <div class="form-group row">
    <div class="input-group col-lg-6 col-md-6">
      <select class="form-control" formControlName="honorific" required>
        <option
          *ngFor="let value of honorifics; let i = index"
          [value]="i + 1"
          >{{ value }}</option
        >
      </select>
      <span class="required-highlight">*</span>
    </div>
  </div>

  <div class="form-group row">
    <div class="input-group col-lg-6 col-md-6">
      <input
        type="text"
        name="first-name"
        class="form-control"
        formControlName="firstName"
        placeholder="Your First Name*"
        required
        pattern="[a-zA-Z\s]+"
        (keyup)="patternValidity($event)"
      />
      <div id="tooltip-first-name" role="tooltip">
        {{ validityMsgs.firstName }}
      </div>
      <span class="required-highlight">*</span>
    </div>
    <div class="input-group col-lg-6 col-md-6">
      <input
        type="text"
        name="last-name"
        class="form-control"
        formControlName="lastName"
        placeholder="Your Last Name / Surname*"
        required
        pattern="[a-zA-Z\s]+"
        (keyup)="patternValidity($event)"
      />
      <div id="tooltip-first-name" role="tooltip">
        {{ validityMsgs.lastName }}
      </div>
      <span class="required-highlight">*</span>
    </div>
  </div>

  <div class="form-group row">
    <div class="input-group col-lg-6 col-md-6">
      <input
        #email
        type="email"
        name="email"
        class="form-control"
        formControlName="email"
        placeholder="Email*"
        required
        (keyup)="checkEmailExistence($event)"
      />
      <div id="tooltip-email" role="tooltip">{{ validityMsgs.email }}</div>
      <span class="required-highlight">*</span>
    </div>
    <div class="input-group col-lg-6 col-md-6">
      <input
        type="email"
        name="confirm-email"
        class="form-control"
        formControlName="confirmEmail"
        placeholder="Confirm Email*"
        required
        (keyup)="confirmMatchingEmail($event, email.value)"
      />
      <div id="tooltip-confirm-email" role="tooltip">
        {{ validityMsgs.confirmEmail }}
      </div>
      <span class="required-highlight">*</span>
    </div>
  </div>

  <div class="form-group row">
    <div class="input-group date-picker col-lg-6 col-md-6">
      <label for="date-of-birth" class="margin-right">Date of birth: </label>
      <div class="form-control">
        <input
          angular-mydatepicker
          name="date-of-birth"
          class="date-input"
          formControlName="dateOfBirth"
          #dp="angular-mydatepicker"
          [options]="datePickerOptions"
          [(ngModel)]="dateModel"
          (click)="dp.toggleCalendar()"
          required
        />
        <div class="input-group-append">
          <button
            type="button"
            class="date-button"
            (click)="dp.toggleCalendar()"
          >
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
          </button>
        </div>
      </div>
      <span class="required-highlight">*</span>
    </div>
    <div class="input-group col-lg-6 col-md-6">
      <input
        type="tel"
        name="phone-number"
        class="form-control"
        formControlName="phoneNumber"
        maxlength="13"
        pattern="[0-9]{3}-[0-9]{5}-[0-9]{3}"
        placeholder="Phone Number"
        required
        (keyup)="telFormatting($event)"
        autocorrect="off"
      />
      <span class="required-highlight">*</span>
    </div>
  </div>

  <div class="form-group row">
    <div
      class="input-group final-controls col-lg-6 offset-lg-6 col-md-6 offset-md-6"
    >
      <button type="button" class="btn btn-secondary" (click)="randomFillIn()">
        Fill form
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="submission()"
        routerlink="/users"
        routerLinkActive="active"
      >
        Submit
      </button>
    </div>
  </div>
</form>

<router-outlet></router-outlet>
