<table class="table">
  <thead>
    <tr>
      <th scope="col">Honorific</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name / Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.honorific }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.dateOfBirth }}</td>
      <td>{{ user.phoneNumber }}</td>
    </tr>
  </tbody>
</table>
