.date-picker
  display: flex
  align-items: center

  .form-control
    display: flex
    justify-content: space-between

  .date-input
    border: none
    width: 100%

  .date-button
    background: transparent
    border: none
    color: deeppink

.margin-right
  margin-right: 20px
