<div class="input-group date-picker">
  <label [for]="name" class="margin-right">Date of birth: </label>
  <div class="form-control">
    <input
      angular-mydatepicker
      [name]="name"
      class="date-input"
      #dp="angular-mydatepicker"
      [options]="datePickerOptions"
      [(ngModel)]="model"
      (click)="dp.toggleCalendar()"
      [required]="required"
    />
    <div class="input-group-append">
      <button type="button" class="date-button" (click)="dp.toggleCalendar()">
        <fa-icon [icon]="faCalendarAlt"></fa-icon>
      </button>
    </div>
  </div>
  <span class="required-highlight" *ngIf="required">*</span>
</div>
