.required-highlight
  margin-left: 5px
  color: deeppink

input,
select
.form-control
  background: #F6F6F6
  border-radius: 0

div[id^="tooltip"]
  display: none
  background: white
  border: 1px solid gray
  max-width: 400px
  padding: 10px 20px
  margin-left: 15px
  position: absolute
  z-index: 1000
  top: 120%

  // Little arrow pointing upwards
  &:before
    content: ""
    background: white
    transform: rotate(45deg)
    width: 18px
    height: 18px
    border-top: 1px solid gray
    border-left: 1px solid gray
    position: absolute;
    z-index: 1000
    top: -10px

  &.active
    display: initial
