<div class="input-group">
  <input
    type="tel"
    [name]="name"
    class="form-control"
    maxlength="13"
    pattern="[0-9]{3}-[0-9]{5}-[0-9]{3}"
    [placeholder]="placeholder"
    [required]="required"
    (keyup)="telFormatting($event)"
    autocorrect="off"
    />
  <span class="required-highlight" *ngIf="required">*</span>
</div>
