<div class="input-group">
  <input
    type="email"
    [name]="name"
    class="form-control"
    [placeholder]="placeholder"
    [required]="required"
    (keyup)="checkEmailExistence($event)"
    />
  <div [id]="'tooltip-' + name" role="tooltip">{{ validityMsg }}</div>
  <span class="required-highlight" *ngIf="required">*</span>
</div>
