<div class="input-group">
  <input
    type="text"
    [name]="name"
    class="form-control"
    [placeholder]="placeholder"
    [required]="required"
    pattern="[a-zA-Z\s]+"
    (keyup)="patternValidity($event)"
  />
  <div [id]="'tooltip-' + name" role="tooltip">{{ validityMsg }}</div>
  <span class="required-highlight" *ngIf="required">*</span>
</div>
