<div class="input-group">
  <select class="form-control" [required]="required">
    <option *ngFor='let value of selections; let i = index' [value]="i">{{ value }}</option>
  </select>
  <span class="required-highlight" *ngIf="required">*</span>
</div>
