<nav class="nav justify-content-end">
  <a class="nav-link active" routerLink="/" routerLinkActive="active">Sign Up</a>
  <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
</nav>
<router-outlet></router-outlet>
